@page
@model AcciTransito.App.Frontend.Pages.DetalleAccidenteModel
@{
}
<style>
    .round1{
        background-color: white;
        margin:0 auto;
        margin-top:2%;
        padding:0;
        @* text-align:center; *@
        border: 3px solid green;
        border-radius: 12px;
        padding: 5px;
    }
</style>
<head>
<title>Detalle Accidente</title> </head>
<h5>Detalle Accidente No.:@Model.accidentes.NumeroAccidente</h5>
<div class="col-sm-12 round1">
<p>Id: @Model.accidentes.id</p>
<p>Numero Accidente: @Model.accidentes.NumeroAccidente</p>
<p>Fecha: @Model.accidentes.Fecha</p>
<p>Tipo Accidente: @Model.accidentes.TipoAccidente</p>
<p>Peritaje: @Model.accidentes.Peritaje</p>
<p>Direccion: @Model.accidentes.Direccion</p>
<p>Barrio: @Model.accidentes.Barrio</p>
<a class="text-primary" asp-page="/AccidentesTransito/ListaAccidentes">Lista de Accidentes</a>
</div>

