@page
@model AcciTransito.App.Frontend.Pages.DetallePersonaModel
@{
}

<style>


    .round1{
        background-color: white;
        margin:0 auto;
        margin-top:2%;
        padding:0;
        @* text-align:center; *@
        border: 3px solid green;
        border-radius: 12px;
        padding: 5px;
    }
</style>

<h6>Detalle Persona - Id Persona: @Model.personas.id</h6>

 <div class="col-sm-12 round1">
  <p>Id: @Model.personas.id</p>
<p>Tipo de Documento:  @Model.personas.TipoDocumento</p>
<p>Número de Identificación: @Model.personas.NumeroIdentificacion</p>
<p>Nombres: @Model.personas.Nombres</p>
<p>Apellidos: @Model.personas.Apellidos</p>
<p>Fecha de Nacimiento: @Model.personas.FechaNacimiento</p>
<p>Dirección: @Model.personas.Direccion</p>
<p>Ciudad: @Model.personas.Ciudad</p>
<p>Contacto: @Model.personas.NumeroCelular</p>
<p>Contacto Alterno: @Model.personas.ContactoAlterno</p>
</div>
<a class="text-primary" asp-page="/AccidentesTransito/ListaPersonas">Lista de Personas</a><br>
<a class="text-primary" asp-page="/AccidentesTransito/ListaAccidentes">Lista de Accidentes</a>

