@page
@model AcciTransito.App.Frontend.Pages.ListaPersonasModel
@{
}
<body>
<h2>Personas</h2>
<table class="table table-bordered">
     <tr>

<caption>Información Personas</caption>

 <th scope="col" > Número Documento</td>
 <th scope="col" > Nombres</td>
 <th scope="col" > Apellidos</td>
 <th scope="col" > Genero</td>

    @foreach (var item in Model.personas)
    {


        <tr>

            <td > @item.NumeroIdentificacion</td>
            <td > @item.Nombres</td>
            <td > @item.Apellidos</td>
            <td > @item.Genero</td>


             <td> <a class="btn btn-success table-btn" asp-page="/AccidentesTransito/DetallePersona" asp-route-id="@item.id">
                <i class="fas fa-user-check"></i></a></td>

                <td> <a class="btn btn-success table-btn" asp-page="/AccidentesTransito/EditarPersona" asp-route-id="@item.id">
                <i class="fas fa-user-edit fa-lg" aria-hidden="true"></i></a></td>


        </tr>



   }



 <td><a  class="btn btn-success table-btn" asp-page="/AccidentesTransito/EditarPersona" class="btn btn-success"><i class="fas fa-user-plus"> Crear Persona</i></a></td>
</table>
</body>



